
<div class="container game-page">
    <h3>Algebread</h3>
    <div class="question_header">
        <h2 id="correct">Correct!</h2>
        <h2 id="incorrect">Incorrect</h2>
        @{ var problem = (ProblemModel)ViewData["problem"]; }

        <h2>Question Worth: $ @problem.payment</h2>
        @{
            var bank = ViewData["bank"] == null ? 0 : ViewData["bank"];
        }
        <h2 id="bank">Bank Account: $<span>@bank</span></h2>
        <p id="problem">@problem.problem</p>

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Food</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (FoodModel f in (List<FoodModel>)ViewData["foodList"])
                    {
                        <tr class="food_item">
                            <td>@f.name</td>
                            <td><p>@f.cost</p></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
    <input type="text" />
    <button type="button">Submit</button>
    <button type="button" id="next">Next</button>
    <button type="button" id="seeAnswer">See Answer</button>
    <div id="answer"></div>
    <div class="bars">
        <div class="progress" style="height: 40px;">
            @{
                var hungerWidth = ViewData["hunger"] == null ? "100%" : ViewData["hunger"];
            }
            <div class="progress-bar bg-warning" role="progressbar" style="width: @ViewData["hunger"]" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">Hunger</div>
        </div>

        <div class="progress" style="height: 40px;">
            <div class="progress-bar bg-info" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Timer</div>
        </div>
    </div>
</div>




<script>
    

    @{

        var answer = ((ProblemModel)(ViewData["problem"])).answer.ToString();
        var payment = ((ProblemModel)(ViewData["problem"])).payment;

        var b = ViewContext.RouteData.Values["bank"];
        //Console.WriteLine("Bank: " + b);

    }

    //import GameHandler from '../../wwwroot/GameHandler.js';

    var submitBtn = document.querySelector('button');
    var gotAnswer = false;
    submitBtn.addEventListener("click", () => {
        
        let realAnswer = "@answer";

        var checker = new AnswerHandler();
        let isCorrect = checker.correctAnswer(realAnswer);
        let gameHandler = new GameHandler();
        if (isCorrect && !gotAnswer) {
            gameHandler.resetTimer();
            gameHandler.hideIncorrectIndicator();
            gameHandler.displayCorrectIndicator();
            gameHandler.displayNextButton();

            let bankHandler = new BankHandler();
            bankHandler.deposit(@payment);

            var foodHandler = new FoodHandler();
            foodHandler.grayOutFoods();
            gotAnswer = true;
        }
        else if (isCorrect && gotAnswer) {

        }
        else
            gameHandler.displayIncorrectIndicator();

        
    });

    //Next button event listener
    var nextBtn = document.getElementById('next');
    nextBtn.addEventListener("click", () => {
        submitClicked = false;
        var gHandler = new GameHandler();
        gHandler.hideCorrectIndicator();
        gHandler.hideNextButton();

        //get next question
        @{ViewData["hunger"] = "10";};
        var url = window.location.href.split('?')[0];
        var currentBank = document.querySelector('#bank span').innerText;
        
        url += "?b=" + currentBank;

        var currentHunger = document.querySelector('.progress-bar').style.width;
        url += "&h=" + currentHunger;
        //console.log(url);
        location.href = url;

        var input = document.querySelector('input');
        input.value = "";
    });

    var answerBtn = document.getElementById('seeAnswer');
    answerBtn.addEventListener("click", () => {
        var answerSpan = document.getElementById("answer");
        answerSpan.innerHTML = "@(answer)";
    })

</script>